extends layout

block content
  h1=title

  form(method='POST')
    div.form-group
      label(for='book') 本のタイトル:
      select#book.form-control(name='book' required)
        option(value='') ほんを選んでください。
        for book in book_list
          if selected_book==book._id.toString()
            option(value=book._id, selected) #{book.title}
          else
            option(value=book._id) #{book.title}

    div.form-group
      label(for='imprint') 出版社・出版日:
      input#imprint.form-control(type='text' placeholder='出版社と日付の情報' name='imprint' required value=(undefined===bookinstance ? '' : bookinstance.imprint) )
    div.form-group
      label(for='due_back') 出版年月日:
      input#due_back.form-control(type='date' name='due_back' value=(undefined===bookinstance ? '' : bookinstance.due_back_yyyy_mm_dd))

    div.form-group
      label(for='status') スタッツ:
      select#status.form-control(name='status' required)
        option(value='') スタッツを選んでください
        each val in ['Maintenance', 'Available', 'Loaned', 'Reserved']
          if undefined===bookinstance || bookinstance.status!=val 
            option(value=val)= val
          else
            option(value=val selected)= val

    button.btn.btn-primary(type='submit') 送信

  if errors
    ul
      for error in errors
        li!= error.msg
