extends layout

block content
  h1= title
  p ようこそ #[em LocalLibrary] へ。これはMozilla Developer Networkのチュートリアル例として開発された、非常に基本的なExpressウェブサイトです。

  h1 動的コンテンツ

  p この図書館には以下のレコード数があります：

  ul
    li #[strong 本の数:] !{book_count}
    li #[strong 蔵書数:] !{book_instance_count}
    li #[strong 貸出可能な蔵書数:] !{book_instance_available_count}
    li #[strong 著者数:] !{author_count}
    li #[strong ジャンル数:] !{genre_count}

